* {
    box-sizing: border-box;
    font-size: 18px;
    cursor: none;}

html, body {margin: 0;}
h1, h2, h3, h4, h5, h6, figure, p {margin: 0; color: #fff;}


h2 {font-size: 25px;
    font-family: 'Gaegu';}
h3 {font-size: 17px;}
p {
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
a {text-decoration: none;}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;}

img {vertical-align: middle;}
table {border-collapse: collapse;}

a, b, i, strong, mark, em, code {
    display: inline-block;}

#a::-webkit-scrollbar {display: none;}

.costom-cursor {
    transform: translate3d(1230px, 700px, 0px);
    position: fixed;
    z-index: 100;
    border: 1px solid rgb(255, 255, 255); /* 마우스커서 */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;}

    @media screen and  (max-width: 933px) {
        /* .costom-cursor {display: none;} */
        *{cursor: inline !important;}}




/* ----------------------------------------------------- */




/* ---------배경--------- */



.background .bg_PC {
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/background_PC.png");
    background-size: cover;
    background-position: 50% 0%;
    transform: translateZ(0);
    z-index: -10;}

.background .bg_MO {display: none;}




@media screen and  (max-width: 992px) {
    .background .bg_MO {
        display: inline;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./img/background_MO.png");
        background-size: cover;
        background-position: 50% 0%;
        transform: translateZ(0);
        z-index: -10;}
    .background .bg_MO img {width: 100%;}
    .background .bg_PC {display: none;}
}









/* ---------헤더 / 카테고리--------- */

.header{
    visibility: visible;
    position: fixed;
    text-align: center;
    justify-content: center;
    width: 100%;}

.hd {
    padding-top: 50px;
    width: 100%;}

.hd img {width: 180px;}

.category_cst {
    visibility: visible;
    justify-content: center;
    margin-top: 35px;
    display: flex;}

.category_cst > li > a > img {
    height: 35px;
    margin: 20px;}


@media screen and  (max-width: 992px) {
    .hd {padding-top: 40px;}
    .hd img {width: 130px;}
    .category_cst {margin-top: 35px !important;}
    .category_cst > li > a > img {
        height: 25px;
        margin: 7px;}
    }






/* ---------하단--------- */

.footer01 {
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
    line-height: 100%;}

.footer01 > p {
    font-size: 11px;}

.footer01 .MO01 {display: none;}

@media screen and  (max-width: 992px) {
    .footer01 {line-height: 90%;}
    .footer01 .MO01 {display: inline;}
    .footer01 .PC01 {display: none; }
    .footer01 > p {font-size: 11px; line-height: 50% !important;}
    
}










/* ---------메인--------- */

.notice_board {
    text-align: center;
    justify-content: center;
    padding: 300px 20% 0 20%;}

.notice_board > p {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 80px;
    border: 1px #fff;
    border-style: solid;
    border-width: 0 0 1px 0;}



.notice_board .board_cat {
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 1px rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 0 0 1px 0;}

.notice_board .board_cat > a {
    text-align: center;
    justify-content: center;
    display: table-cell;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;}

.notice_board .board_cat .cat {
    width: 120px;
    font-size: 11px;}

.notice_board .board_cat .title {
    width: 400px;
    text-align: left;}

.notice_board .board_cat .title > span {
        font-size: 14px;}






@media screen and  (max-width: 992px) {
    .notice_board {
        padding: 300px 5% 0 5%;}
    
    .notice_board > p {
        padding-bottom: 60px;}
    
    
    .notice_board .board_cat > a {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;}
    
    .notice_board .board_cat .cat {
        width: 60px;
        font-size: 11px;}
    
    .notice_board .board_cat .title {width: 250px;}
        
    .notice_board .board_cat .title > span {font-size: 13px;}
}






    
/* -------------------------03-1------------------------------- */

.notice01 {
    text-align: center;
    justify-content: center;
    padding: 300px 25% 0 25%;}

.notice01 p {padding-bottom: 100px;}
    

.notice01 .QandA {
    font-size: 15px;
    padding-bottom: 80px;
    line-height: 200%;
    text-align: left;}



@media screen and  (max-width: 992px) {
    .notice01 {
        padding: 300px 7% 0 7%;}
    
    .notice01 p {padding-bottom: 70px;}
    
    .notice01 .QandA {
        font-size: 14px;
        padding-bottom: 50px;
        line-height: 170%;}
}




/* -------------------------03-2------------------------------- */

.notice02 {
    text-align: center;
    justify-content: center;
    padding: 300px 25% 0 25%;}

.notice02 p {padding-bottom: 100px;}

.notice02 .schedule > img {
    text-align: center;
    justify-content: center;
    width: 100%;}


@media screen and  (max-width: 992px) {
    .notice02 {
        line-height: 100%;
        padding: 300px 0 0 0;}

    .notice02 p {padding-bottom: 50px;}

    .notice02 .schedule > img {
        width: 100%;
        padding: 0 2px;}}




        /* -------------------------03-4------------------------------- */

.notice04 {
    text-align: center;
    justify-content: center;
    padding: 300px 25% 0 25%;}

.notice04 p {padding-bottom: 100px;}

.notice04 .reservation > img {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;}




    .notice04-2 {
        text-align: center;
        justify-content: center;
        padding: 0 25%;}

    .notice04-2 p {
        white-space: pre-wrap;
        font-size: 15px;
        padding-bottom: 10px;
        line-height: 200%;
        text-align: left;}


    .notice04-2 > p > ins {font-size: 15px; color: #fff;}

    .notice04-2 > p > a {font-size: 15px; color: #fff;}
    .notice04-2 > p > a > ins {font-size: 15px; color: #fff;}






@media screen and  (max-width: 992px) {
    .notice04 {
        line-height: 100%;
        padding: 300px 0 0 0;}
    .notice04 p {padding-bottom: 50px;}
    .notice04 .reservation > img {
        width: 100%;
        padding: 0 2px 30px 2px;}


    .notice04-2 {padding: 0 7%;}
    .notice04-2 p {
        padding-bottom: 70px;
        font-size: 14px;
        padding-bottom: 80px;
        line-height: 170%;}
        
    .notice04-2 > p > ins {font-size: 14px;}
    .notice04-2 > p > a {font-size: 14px;}
    .notice04-2 > p > a > ins {font-size: 14px;}
    }

    